@model Product

<div class="container w-25 flex v j-center">
    <h2>Categories</h2>
    <ul>
        @foreach (Association association in Model.RelatedCategories)
            {
                <div class="container-mini a-center">
                    <li>@association.Category.Name</li>
                    <form method="post" asp-action="DestroyProductAssociation" asp-controller="Product" asp-route-id="@Model.ProductId" asp-route-assocId="@association.AssociationId">
                        <input type="submit" class="button-anchor p-0 p-i-o5 p-b-o1 f-o75" value="Remove">
                    </form>
                </div>
            }
    </ul>
</div>