@{
    ViewData["Title"] = "Form";
}
<div class="container w25 h-content br1 br-medium-1 m-t3 m-center-h p2">
    <form class="form g2" action="submit-form" method="post">

    <label for="Name" class="input">
        <span>Your Name:</span>
        <input class="w10" type="text" name="Name">
    </label>
    <label for="Location" class="input">
        <span>Dojo Location:</span>
        <select class="w10" name="Location">
            <option value="Seattle">Seattle</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="New York">New York</option>
        </select>
    </label>
    <label for="Language" class="input">
        <span>Favorite Language:</span>
        <select class="w10" name="Language">
            <option value="Python">Python</option>
            <option value="JavaScript">JavaScript</option>
            <option value="C#">C#</option>
        </select>
    </label>
    <label for="Comment" class="input v a-start">
        <span>Comment (optional):</span>
        <textarea name="Comment" class="h5"></textarea>
    </label>
    <input type="submit" class="button w-content" value="Submit">

    </form>
</div>