@{
    ViewData["Title"] = "Enter Name";
}

<div class="container flex v a-center m-center-h m-t3">
    <h1 class="m-center-h">Welcome!</h1>
    <h3 class="m-center-h">Please enter your name</h3>
    <form action="submit-form" method="post" class="form a-center">
        <input type="text" class="w10" name="Name">
        <input type="submit" class="button w-content" value="Submit">
    </form>
</div>