@{
    ViewData["Title"] = "New Chef";
}
@model Chef
<div class="container-navbar j-center go75">
    <a asp-action="IndexChefs" asp-controller="Chef">Chefs</a> |
    <a asp-action="IndexDishes" asp-controller="Dish">Dishes</a> | 
    <p class="f-bold">Add a Chef</p> | 
    <a asp-action="NewDish" asp-controller="Dish">Add a Dish</a>
</div>
<div class="view-main small">
<h1 class="center-h f-center">Add a chef</h1>
<div class="divider-h bg-medium-l m-b-1o25"></div>
    <form class="form" asp-action="CreateChef" asp-controller="Chef" method="post">
        <label asp-for="FirstName" class="input">
            <span>First Name:</span>
            <input type="text" asp-for="FirstName">
        </label>
        <span asp-validation-for="FirstName" class="error-text"></span>
        <label asp-for="LastName" class="input">
            <span>Last Name:</span>
            <input type="text" asp-for="LastName">
        </label>
        <span asp-validation-for="LastName" class="error-text"></span>
        <label asp-for="BirthDate" class="input">
            <span>Birth Date:</span>
            <input type="date" class="date-time" asp-for="BirthDate">
        </label>
        <span asp-validation-for="BirthDate" class="error-text"></span>
        <input type="submit" class="button w-content" value="Submit">
    </form>
</div>