<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="view-main">

        <div class="container w25 h-content br1 br-medium-1 m-t3 m-center-h p2">
            <h1>Submitted Info</h1>
            <div class="container w-max flex j-between">
                <p>Name:</p>
                <p>@ViewBag.Name</p>
            </div>
            <div class="container w-max flex j-between">
                <p>Dojo Location:</p>
                <p>@ViewBag.Location</p>
            </div>
            <div class="container w-max flex j-between">
                <p>Favorite Language:</p>
                <p>@ViewBag.Language</p>
            </div>
            <div class="container w-max flex j-between">
                <p>Comment:</p>
                @{
                    if (ViewBag.Comment == "")
                    {
                        <p style="color:grey">No coment</p>
                    }
                    else
                    {
                        <p>@ViewBag.Comment</p>
                    }
                }
            </div>
            <a class="button-anchor" href="/">Go Back</a>
        </div>

    </div>
</body>
</html>